<div class="form-group row">
  <label class="col-sm-2 col-form-label">First Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="name" placeholder="Enter First Name">
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Last Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="lastname" placeholder="Enter Last Name">
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Last Name</label>
  <div class="col-sm-10">
    <input type="checkbox" class="form-control" [(ngModel)]="isEmployee" [ngModelOptions]="{standalone: true}">
  </div>
</div>
<button (click)="addEmployee();" *ngIf="emp.id==0" class="btn btn-primary">Add</button>
<button (click)="updateEmployee();" *ngIf="emp.id!=0" class="btn btn-primary">Update</button>
